<form class="row g-3" [formGroup]="myForm">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" (ngSubmit)="login()">Email</label>
    <input  type="email" class="form-control" id="inputEmail4" formControlName="email">
    <small class="text-danger" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">Email is required</small>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" formControlName="password">
    <small class="text-danger" *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">Password is required</small>

  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
    <small class="text-danger" *ngIf="!myForm.controls.address.valid && myForm.controls.address.touched">Address is required</small>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2 (Optional)</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity" formControlName="city">
    <small class="text-danger" *ngIf="!myForm.controls.city.valid && myForm.controls.city.touched">City is required</small>

  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select" formControlName="state">
      <option selected hidden>Choose...</option>
      <option *ngFor="let state of states">{{state}}</option>
    </select>
    <small class="text-danger" *ngIf="!myForm.controls.state.valid && myForm.controls.state.touched">State is required</small>

  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip" formControlName="zip">
    <small class="text-danger" *ngIf="!myForm.controls.zip.valid && myForm.controls.zip.touched">State is required</small>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="col-3 mt-2 py-2">Submit</button>
  </div>
</form>